.container{
  width: 100%;
  max-width: 854px;
  margin: 0 auto;
  padding: 0 15px;
}
.header{
 display: flex;
 justify-content: space-between;
 padding-top: 5%;
 margin-bottom: 40px;
}
.header__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    margin: 0;
  }
  
  .header__logo b{
    font: 400 5vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
  }
  .header__logo b span{
    animation: blink linear infinite 2s;
  }
  .header__logo b span:nth-of-type(2){
    animation: blink linear infinite 3s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  
  
  .header__exchange{
    display: flex;
    align-items: center;
    color: whitesmoke;
  }

  .exchange__info{
    display: flex ;
    
  }

  .exchange__rate{
    display: flex;
    margin-left: 20px;
    background-color: #333;
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .exchange__rate:last-child{
    margin-left: 5px;
    border-top-left-radius:0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }